.footer{
    width: 100%;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(20, 25, 29);
    gap: 10px;
    color: white;
    font-size: 18px;
    margin-top: 30px;
}